<template name="reportsAdminList">
    <div class="row">
        <div class="col-lg-7">
            <h1><span class="fa fa-area-chart" aria-hidden="true"></span>&nbsp;Reports</h1>
        </div>
    </div>
</template>