<template name="homepage">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <h1>Welcome to the Broke Spoke<br/> Shop Management System, yo</h1>
        <ul class="list-group">
            <li class="list-group-item"><h4><a href="/admin/dashboard">Admin Dashboard</a></h4></li>
            <li class="list-group-item"><h4><a href="/signin">Shop Sign-in</a></h4></li>
        </ul>
        </div>
    </div>


</template>