<template name="peopleConfirmDelete">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Really delete {{person.firstName}} {{person.lastName}}'s account?</h4>
    </div>
    <div class="modal-body">
        <p>{{person.firstName}}'s information will be deleted for ever and ever.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn delete btn-danger">Delete</button>
    </div>
</template>