<template name="transactionConfirmDelete">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Really delete this transaction?</h4>
    </div>
    <div class="modal-body">
        <p>Deleting this transaction will also delete any related timelog.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn delete btn-danger">Delete</button>
    </div>
</template>