<template name="peopleList">
    <div class="btn-toolbar" role="toolbar">

        {{#if pages.show}}
            <div class="btn-group" role="group" style="float:left" aria-label="...">
                <button type="button" class="enabled previous btn btn-default"><span aria-hidden="true">&larr;</span>Previous</button>
                <button type="button" class="btn btn-default">Page {{pages.current}} / {{pages.total}}</button>
                <button type="button" class="enabled next btn btn-default">Next<span aria-hidden="true">&rarr;</span></button>
            </div>
        {{/if}}

        <div class="btn-group" role="group" style="float:right">
            <button class="btn btn-lg btn-primary new"  style="float:left">
                <span class="glyphicon glyphicon-plus"></span>
                New Person
            </button>
        </div>
    </div>

    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th class="col-lg-4 form-inline">
                <div class="form-group">
                    Name
                    <input type="text" class="form-control" placeholder="filter by last name" id="lastNameFilter" />
                </div>
            </th>
            <!--<th>E-Mail</th>-->
            <th>Last Visit</th>

            <th>Equity</th>
            <th>Waiver Status</th>
            <th class="col-md-1"></th>

        </tr>

        </thead>
        <tbody>
        {{#each people}}
            <tr data-id="{{_id}}">
                <td>{{firstName}} {{middleInitial}} {{lastName}}</td>
                <!--<td>{{email}}</td>-->
                <td>{{formatDate lastSignout}}</td>
                <td>${{sweatEquity}}</td>
                <td>{{#if waiverAcceptDate}}
                <span class="label label-success"> Accepted <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
                {{else}}
                   <span class="label label-danger">No Waiver &nbsp;<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span>
                {{/if}}
            </td>
                <td><button class='delete btn btn-link btn-alert'>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button> </td>
            </tr>
        {{/each}}
        </tbody>
    </table>


</template>