<template name="peopleAdminNew">
    <h1>Add a Person</h1>
    <p>All visitors are required to provide first and last name, and agree to the shop waiver. 
    All other information is recommended but optional. Minors (under 18 years of age), are required 
    to be accompianied by a parent or guardian.
    </p>
    <div class="form-horizontal">
  {{#autoForm collection="People" id="insertPeopleForm" class="form-horizontal" type="insert"}}
    <fieldset>
      <legend>Basic Information</legend>
      <p>Required information to sign into the shop.</p>
      {{> afQuickField name='firstName' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
        <div class="required">  {{> afQuickField name='middleInitial' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}</div>
      {{> afQuickField name='lastName' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
      {{> afQuickField name='waiverAcceptDate' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
        {{> afQuickField name='membershipExpiration' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
        {{> afQuickField name='birthdate' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}

    </fieldset>
    
    <fieldset>
      <legend>Contact Information</legend>
      <p>Optional</p>
        {{> afQuickField name='email' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
        {{> afQuickField name='phone' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
    </fieldset>
    
    <fieldset>
      <legend>Emergency Contact</legend>
      <p>Optional for adults, required for minors</p>
        {{> afQuickField name='emergencyContactName' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
        {{> afQuickField name='emergencyContactRelation' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
        {{> afQuickField name='emergencyContactPhone' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
    </fieldset>
    

    <button type="submit" class="btn btn-primary">Create New Account</button>
  {{/autoForm}}
  </div>
</template>


