


<template name="peopleAdminEdit">
    <h1>{{this.person.firstName}} {{this.person.lastName}}</h1>
    <div class="form-horizontal peopleInfo">
        <div class="form-group .form-group-sm">
            <label for="inputEmail3" class="col-sm-2 control-label">Created:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{formatDate this.person.createdOn}}</p>
            </div>
        </div>
        <div class="form-group .form-group-sm">
            <label for="inputEmail3" class="col-sm-2 control-label">Equity Balance:</label>
            <div class="col-sm-10">
                <p class="form-control-static"> {{this.person.sweatEquity}}</p>
            </div>
        </div>
        <div class="form-group .form-group-sm">
            <label for="inputEmail3" class="col-sm-2 control-label">Last seen:</label>
            <div class="col-sm-10">
                <p class="form-control-static"> {{formatDate this.person.lastSignout}}</p>
            </div>
        </div>
    </div>


    <!--<ul>-->
        <!--<li><strong>Created:</strong>{{formatTime this.person.createdOn}}</li>-->
        <!--<li><strong>Equity balance:</strong> {{this.person.sweatEquity}}</li>-->
        <!--<li><strong>Last sign-in:</strong></li>-->
    <!--</ul>-->



      <div role="tabpanel">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#basic" aria-controls="home" role="tab" data-toggle="tab">Basic Info</a></li>
              <li role="presentation"><a href="#timelogs" aria-controls="profile" role="tab" data-toggle="tab">Timelogs</a></li>
              <li role="presentation"><a href="#transactions" aria-controls="messages" role="tab" data-toggle="tab">Transactions</a></li>
         </ul>

          <!-- Tab panes -->
          <div class="tab-content">

              <!--Basic Info-->
              <div role="tabpanel" class="tab-pane active" id="basic">
                  {{>peopleBasicInfo person=this.person }}
              </div>

              <!--Timelogs-->
              <div role="tabpanel" class="tab-pane" id="timelogs">
                  {{> timelogsList hide=timelogHide routeRoot='peopleAdmin' person=this.person}}
              </div>

              <!--Transactions-->
              <div role="tabpanel" class="tab-pane" id="transactions">
                  {{> transactionsList hide=transactionHide routeRoot='peopleAdmin' person=this.person}}
              </div>


          </div>

      </div>

</template>

<template name="peopleBasicInfo">
    <div class="form-horizontal">
        {{#autoForm collection="People" id="updatePeopleForm" class="form-horizontal" type="update" doc=this.person}}
            {{> afQuickField name='sweatEquity' type="hidden" }}


            <fieldset>
              <legend>Basic Information</legend>
              <p>Required information to sign into the shop.</p>
              {{> afQuickField name='firstName' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
                <div class="required">{{> afQuickField name='middleInitial' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}</div>
              {{> afQuickField name='lastName' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
              {{> afQuickField name='waiverAcceptDate' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
                {{> afQuickField name='membershipExpiration' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
                {{> afQuickField name='birthdate' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
            </fieldset>

            <fieldset>
              <legend>Contact Information</legend>
              <p>Optional</p>
              {{> afQuickField name='email' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
              {{> afQuickField name='phone' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
            </fieldset>

            <fieldset>
              <legend>Emergency Contact</legend>
              <p>Optional for adults, required for minors</p>
                {{> afQuickField name='emergencyContactName' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
                {{> afQuickField name='emergencyContactRelation' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
                {{> afQuickField name='emergencyContactPhone' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
            </fieldset>

            <button type="submit" class="btn btn-primary">Save</button>
        {{/autoForm}}
    </div>
</template>

