
@import "../imports/bootstrap/less/bootstrap.less";

@import "frontdesk-variables.less";


//font faces
@font-face {
  font-family:'chunkfiveroman';
  src: url('/fonts/chunkfiveroman/ChunkFive-Roman_gdi.eot');
  src: url('/fonts/chunkfiveroman/ChunkFive-Roman_gdi.eot?#iefix') format('embedded-opentype'),
  url('/fonts/chunkfiveroman/ChunkFive-Roman_gdi.woff') format('woff'),
  url('/fonts/chunkfiveroman/ChunkFive-Roman_gdi.ttf') format('truetype'),
  url('/fonts/chunkfiveroman/ChunkFive-Roman_gdi.svg#ChunkFive-Roman') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}


body {
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important; }

h1, h2, h3, h4 {
  font-family: 'chunkfiveroman' !important;
  font-weight: normal; }

h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: 0.125em; }

.subtitle {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 700 !important;
  text-transform: none !important; }


//topbar
.navbar-inverse .navbar-brand {
  font-family: 'chunkfiveroman';
  color:white !important;}

.navbar-inverse .navbar-left .navbar-brand {
  background-image: url('/img/gear-white.png');
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: 20px 12px;
  padding-left: 38px;
}

.navbar-inverse .navbar-left .navbar-brand:hover {
  color: @brand-primary !important;
  background-image: url('/img/gear.png');
}

.navbar-inverse .navbar-right li .username{
  color:white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-fixed-top .navbar-right {
  margin-right:10px;
}

.navbar-fixed-top .dropdown-menu {
  top:35px;
  left:50%;
  border:none;
  background-color: none;
}

.navbar-fixed-top .dropdown-menu ul {
  margin-left:-50%;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

//tables
.table-hover > tbody > tr:hover {
  cursor:pointer;
}

.table > tbody > tr > td {
  vertical-align:middle;
}

//admin lists
h1 .glyphicon {padding-right:10px;}

//topbar
.navbar-brand
{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
}

.icon-gear {
  background-image: url('img/gear.png');
  background-size: contain;
  height:100%;
}

//sidebar
.sidebar {background: @brand-primary !important; }
.nav-sidebar > li > a {
  color:white;

  font-family:'chunkfiveroman';
}


.nav-sidebar > li > a:focus,
.nav-sidebar > li > a:hover {
  background-color: white;
  color: @brand-primary;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: white !important;
  color: @gray-dark !important;
}

//People
.peopleInfo {
  margin-bottom:20px;
  .form-group {
    margin-bottom:0px;
    p {
      margin:0;
      padding-bottom:0;
    }
  }
}

.selectedPerson .delete  {
  padding:0;
}

//tabs
.tab-pane {padding-top:20px;}


//BootstrapModal
#bootstrapModal .modal-dialog {
  //fix a render bug in Raspbian chromium
  -webkit-transform:none;
}


//signIn

.returning-visitor {
  margin-bottom: 50px;
}


//required form controls
.form-group[data-required="true"] .control-label:after,
.required .form-group .control-label:after {
  content:"*";
  color:red;
}




.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

