<template name="fluidRowLayout">
    <div class="container-fluid">
        <div class="row-fluid">
                {{> yield}}
        </div><!-- end .row -->
    </div><!-- end .container-fluid -->
</template>

