<template name="adminDashboard">
    <h1><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>Dashboard</h1>

    <div class="row">
        <div class="col-md-3">
            <button class='quickSignIn btn btn-primary btn-lg btn-block' >
                Sign Someone In&nbsp;&nbsp;<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            </button>

        </div>

        <div class="col-md-3">

            <button class='quickTransaction btn btn-lg btn-primary btn-block' >
                Charge Equity&nbsp;<span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-md-6">
            {{>pendingTransactions}}
        </div>

    </div>



    <div class="row">
        {{>bootstrapAlerts}}

        <h3>In the Shop</h3>
        <div class="col-sm-6">
            {{>signedInList type='Volunteers'}}
        </div>
        <div class="col-sm-6">
            {{>signedInList type='Visitors'}}
        </div>

    </div>

    <div class="row">
        {{>recentSignIn}}
    </div>


</template>