<template name="pendingTransactions">
    {{#if transactions.count}}
    <div class="panel panel-danger" style="margin-bottom:40px;">
        <div class="panel-heading">
            <strong>Pending Cash Transactions</strong>
               </div>
<div class="panel-body">
    <p>Complete the transactions below with cash or credit using the register. When finished, mark the transaction as complete by clicking its checkmark icon.</p>

</div>
        <table class="table table-condensed">

            <tbody>
            {{#each transactions}}
                <tr data-id="{{_id}}">
                    <td><strong>{{person.firstName}} {{person.lastName}}</strong></td>
                    <td><strong>{{transactionLabel transactionType}}</strong></td>
                    <td><strong>${{formatBalance amount}}</strong></td>
                    <td>
                        <button class='complete btn btn-link btn-default' title="Mark as completed" data-toggle="tooltip" data-placement="bottom" >
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}
</template>