<template name="quickSignInModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Quick Sign-In</h4>
    </div>
    {{#autoForm collection="Timelogs" id="insertTimelogsQuick" class="form-horizontal" type="insert"}}
        <div class="modal-body">
            {{>personAutocomplete }}
            {{> afFieldInput name='personId' type="hidden"}}
            {{> afQuickField name='activityType' id='activityType' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
            {{> afQuickField name='startTime' id='startTime' template="bootstrap3-horizontal" value=now type='datetime-local' label-class="col-sm-3" input-col-class="col-sm-6"}}
        </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn signin btn-primary">Sign In</button>
    </div>
    {{/autoForm}}
</template>