<template name="quickTransactionModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Quick Equity Transaction</h4>
    </div>
    {{#autoForm collection="Transactions" id="insertTransactionQuick" class="form-horizontal" type="insert"}}
        <div class="modal-body">
            {{>personAutocomplete }}
            {{> afFieldInput name='personId' type="hidden"}}

            {{> afQuickField name='transactionType' id="transactionType" options=transactionOptions template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
            {{> afQuickField name='amount' template="bootstrap3-horizontal" type='number' label-class="col-sm-3" input-col-class="col-sm-6"}}

            {{> afQuickField name='paymentType'  value='equity' type='hidden'}}
            {{> afQuickField name='paymentStatus' value='complete' type='hidden'}}
            {{> afQuickField name='date' template="bootstrap3-horizontal" value=now  type="datetime-local" label-class="col-sm-3" input-col-class="col-sm-6"}}

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn signin btn-primary">Create Transaction</button>
        </div>
    {{/autoForm}}
</template>