<template name="recentSignIn">
    <div class="" >
        <div class="">
            <h4>Recent Sign-outs</h4>

        </div>

        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Activity</th>
                <th>Sign-in</th>
                <th>Sign-out</th>
            </tr>
            </thead>
            <tbody>
            {{#each timelogs}}
                <tr data-id="{{_id}}">
                    <td>{{person.firstName}} {{person.middleInitial}} {{person.lastName}}</td>
                    <td>{{activityLabel activityType}}</td>
                    <td>{{formatTime startTime}}</td>
                    <td>
                         {{formatTime endTime}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <div class="">

        </div>

    </div>
</template>