<template name="signedInList">
        <!---->
    <div class="" style="margin-bottom:40px">
        <!--<div class="" >-->
            <h4>{{type}}</h4>

        <!--</div>-->

            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th class="col-sm-3">Name</th>
                    <th class="col-sm-3">Activity</th>
                    <th>Sign-in Time</th>
                    <th></th>
                    <!--<th>           {{#if timelogs.count }}  <button class='signout-all pull-right btn btn-default btn-sm' title="All {{type}} listed below will be signed out." data-toggle="tooltip" data-placement="bottom" >-->
    <!--Sign Out All&nbsp;<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>-->
                    <!--</button>-->
                    <!--{{/if}}</th>-->
                </tr>
                </thead>
                <tbody>
             {{#if timelogs.count }}
                {{#each timelogs}}
                    <tr data-id="{{_id}}">
                        <td>{{person.firstName}} {{person.middleInitial}} {{person.lastName}}</td>
                        <td>{{activityLabel activityType}}</td>
                        <td>{{formatTodaysTime startTime}}</td>

                        <td>
                            <button class='delete btn btn-link btn-alert pull-right'>
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                            <button class='signout btn btn-link btn-alert pull-right'>
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                {{/each}}
             {{/if}}
                </tbody>
            </table>
    {{#unless timelogs.count }}<p>No {{type}} are signed in.</p>{{/unless}}
        <div class="">

        </div>

    </div>
    <!---->

</template>