<template name="timelogsAdminEdit">
    <h1>Edit {{this.timelog.person.firstName}} {{this.timelog.person.lastName}}'s Timelog</h1>
    <p></p>
    {{#autoForm collection="Timelogs" id="updateTimelogsForm" class="form-horizontal"  type="update" doc=this.timelog}}
        <div class="form-group person">
        <label class="col-sm-3 control-label">Person:</label>
        <div class="col-sm-6">
            {{> inputAutocomplete style="display:none" settings=settings id="personAutocomplete" class="form-control" placeholder="Search by last name..."}}
          <span class="selectedPerson" >

              <p class="form-control-static">
                  <span class="name">
                    {{this.timelog.person.firstName}} {{this.timelog.person.lastName}}
                  </span>
                  <button class='delete btn btn-link btn-alert clear'>
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
              </p>
          </span>
          <span class="help-block"></span>
        </div>
  </div>
                {{> afFieldInput name='personId' type="hidden"}}
        {{> afQuickField name='activityType' id='activityType' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
        {{> afQuickField name='startTime' id='startTime'  template="bootstrap3-horizontal" type='datetime-local' label-class="col-sm-3" input-col-class="col-sm-6"}}
        {{> afQuickField name='endTime' id='endTime' template="bootstrap3-horizontal" type='datetime-local' label-class="col-sm-3" input-col-class="col-sm-6"}}
        <div class="payment"  style="display:none">
            {{> afQuickField name='paymentType' id='paymentType' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
        </div>
        <button type="submit" class="btn btn-primary">Save Timelog</button>
    {{/autoForm}}
</template>