<template name="timelogsAdminList">
    <div class="row">
        <div class="col-lg-7">
        <h1><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Timelogs</h1>
            <div>Listing {{getPublishedCount 'timelogsListCount'}} timelog entries.</div>
        </div>
    </div>
    {{> timelogsList routeRoot='timelogsAdmin'}}
</template>

