<template name="timelogsList">
        <div class="btn-toolbar" role="toolbar">

            {{#if pages.show}}
            <div class="btn-group" role="group" style="float:left" aria-label="...">
                <button type="button" class="enabled previous btn btn-default"><span aria-hidden="true">&larr;</span>Newer</button>
                <button type="button" class="btn btn-default">Page {{pages.current}} / {{pages.total}}</button>
                <button type="button" class="enabled next btn btn-default">Older<span aria-hidden="true">&rarr;</span></button>
            </div>
            {{/if}}

            <div class="btn-group" role="group" style="float:right">
                <button class="btn btn-lg btn-primary new"  style="float:left">
                    <span class="glyphicon glyphicon-plus"></span>
                    New Timelog
                </button>
            </div>
        </div>

    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            {{#unless hide.name}}
                <th>Name</th>
            {{/unless}}

            <th>Start Time</th>
            <th>End Time</th>
            <th>Activity</th>
            <th>Hours</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {{#each timelogs}}
            <tr data-id="{{_id}}">
                {{#unless ../hide.name}}
                    <td>{{person.firstName}} {{person.lastName}}</td>
                {{/unless}}
                <td>{{formatTime startTime}}</td>
                <td>{{formatTime endTime}}</td>
                <td>{{activityLabel activityType}}</td>
                <td>{{totalTime}}</td>
                <td><button class='delete btn btn-link btn-alert'>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button></td>
            </tr>
        {{/each}}
        </tbody>
    </table>

</template>