<template name="personAutocomplete">

    <div class="form-group person">
        <label class="col-sm-3 control-label">Person:</label>
        <div class="col-sm-6">
            {{> inputAutocomplete settings=settings id="personAutocomplete" class="form-control" placeholder="Search by last name..."}}
            <span class="selectedPerson" style="display:none">
             <p class="form-control-static">
                              <span class="name"></span>
                 <button class='delete btn btn-link btn-alert clear'>
                     <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                 </button>
             </p>
          </span>
            <span class="help-block"></span>
        </div>
    </div>

</template>

<template name="personAutocompleteItem">
    <span>{{firstName}} {{lastName}}
        {{#if isMember}}
            &nbsp;<b>(member)</b>
        {{/if}}
    </span>
</template>