<template name="activitySelectModal">
    <div class="modal-header">
        <!--{{#each person}}-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Welcome, {{person.firstName}}</h4>
        <!--{{/each}}-->
    </div>
    <div class="modal-body" style="float:left">
        <h3>Select your activity below to sign in:</h3>
        <button type="button" class="btn btn-primary btn-lg signin volunteering pull-right btn-block" data-activityType="volunteering"><strong>Volunteering</strong></button>
    {{#if isMember}}
        <button type="button" class="btn btn-primary btn-lg signin stand-time pull-right btn-block"  data-activityType="member-stand-time"><strong>Stand Time</strong><br/>Free with your membership</button>
    {{else}}
        <button type="button" class="btn btn-primary btn-lg signin stand-time pull-right btn-block"  data-activityType="stand-time"><strong>Stand Time</strong><br/>($4/hour with cash or equity)</button>
        {{/if}}
<button type="button" class="btn btn-primary btn-lg signin shopping pull-right btn-block"  data-activityType="shopping"><strong>Shopping for parts/bikes</strong></button>
        <button type="button" class="btn btn-primary btn-lg signin other pull-right btn-block"  data-activityType="other"><strong>Other</strong></button>

    </div>
    <div class="modal-footer" style="clear:both; margin-top:10px;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
</template>