<template name="paymentOptions">
    <div class="modal-header">
        <h1>Payment Options for Stand Time</h1>
    </div>
    <div class="modal-body">
        <p>Your stand time rental fee today is:
        <strong>${{amount}}</strong></p>

        {{#if goodCredit}}
            <button type="button" class="btn btn-primary  btn-lg payment btn-block"  data-payment="equity"><strong>Pay with Equity</strong><br/>(You have ${{person.sweatEquity}} in your account).</button>
        {{else}}
           <p> You currently have a negative balance <strong>(${{person.sweatEquity}})</strong>, so you cannot pay with sweat equity.</p>
        {{/if}}
        <button type="button" class="btn btn-primary btn-lg payment btn-block"  data-payment="cash"><strong>Pay with Cash/Credit Card</strong></button>
    </div>

</template>
