<template name="registerModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create an Account</h4>
    </div>
    {{#autoForm collection="People" id="createAccountModalForm" class="form-horizontal" type="insert"}}
    <div class="modal-body">

        {{> afQuickField name='firstName' template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-5"}}
        {{> afQuickField name='lastName' template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-5"}}
        {{> afQuickField name='email' template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-5"}}
        {{> afQuickField name='phone' template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-5"}}
        {{> afQuickField name='emergencyContactName' template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-5"}}
        {{> afQuickField name='emergencyContactRelation' template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-5"}}
        {{> afQuickField name='emergencyContactPhone' template="bootstrap3-horizontal" label-class="col-sm-5" input-col-class="col-sm-5"}}

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Continue</button>
    </div>
    {{/autoForm}}
</template>