<template name="signOutSummary">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1>Thanks {{timelog.person.firstName}}!</h1>
    </div>
    <div class="modal-body">
        <p>Here is a summary of your visit:</p>
        <dl class="dl-horizontal">
            <dt>Duration:</dt>
            <dd>{{timelog.totalTime}} hours ({{formatTodaysTime timelog.startTime}} to {{formatTodaysTime timelog.endTime}})</dd>

            <dt>Activity: </dt>
            <dd>
                {{activityLabel timelog.activityType}}
            </dd>
            {{#if transaction}}
               {{#if transaction.equityCredit}}
                   <dt>Equity earned:</dt>
               {{/if}}
                {{#if transaction.equityCharge}}
                    <dt>Equity used:</dt>
                {{/if}}
                {{#if transaction.cashCharge}}
                    <dt>Amount charged:</dt>
                {{/if}}
                <dd>${{transaction.amount}}</dd>
            {{/if}}
        </dl>

    </div>
</template>

<template name="volunteerSummary">
    <div class="modal-header">
        <h1>Thanks {{person.firstName}}!</h1>
    </div>
    <div class="modal-body">
        <p></p>
    </div>
</template>