<template name="signOutList">
    <!---->
    <div class="" style="margin-bottom:40px">
        <!--<div class="" >-->

        <!--</div>-->

        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th class="col-sm-3">Name</th>
                <th class="col-sm-3">Activity</th>
                <th>Sign-in Time</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#if timelogs.count }}
                {{#each timelogs}}
                    <tr data-id="{{_id}}">
                        <td>{{person.firstName}} {{person.middleInitial}} {{person.lastName}}</td>
                        <td>{{activityLabel activityType}}</td>
                        <td>{{formatTodaysTime startTime}}</td>

                        <td>
                            <button class='signout btn btn-link btn-alert pull-right'>
                               Sign Out <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                {{/each}}
            {{/if}}
            </tbody>
        </table>
        {{#unless timelogs.count }}<p>Nobody is signed in.</p>{{/unless}}
        <div class="">

        </div>

    </div>
    <!---->

</template>