<template name="signInHome">

    <div class="row">
        <div class="col-md-10 col-md-offset-1"><br/><!--shameful-->
            {{>bootstrapAlerts}}
        </div>
        <div class="col-md-4 col-md-offset-1">
            <h2>Sign In</h2>
            {{> signInSelect}}
        </div>
        <div class="col-md-4 col-md-offset-1">
            <h2>Sign Out</h2>
            {{> signOutList}}
        </div>
    </div>

</template>