<template name="bikesAdminNew">
    <h1>New Bike</h1>
    <p></p>
    {{#autoForm collection="Bikes" id="insertBikeForm" class="form-horizontal" type="insert"}}
        <div class="form-group person">
            <label class="col-sm-3 control-label">Person:</label>
            <div class="col-sm-6">
                {{> inputAutocomplete settings=settings id="personAutocomplete" class="form-control" placeholder="Search by last name..."}}
                <span class="selectedPerson" style="display:none">
                 <p class="form-control-static">
                                  <span class="name">
                                    {{this.transaction.person.firstName}} {{this.transaction.person.lastName}}
                                  </span>
                     <button class='delete btn btn-link btn-alert clear'>
                         <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                     </button>
                 </p>
          </span>
                <span class="help-block"></span>
            </div>
        </div>
        {{> afFieldInput name='ownerId' type="hidden"}}

        {{> afQuickField name='tagId' id='tagId' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}

        {{> afQuickField name='dateAdded' id='dateAdded' template="bootstrap3-horizontal" value=now type='date' label-class="col-sm-3" input-col-class="col-sm-6"}}

        {{> afQuickField name='status' id='status' template="bootstrap3-horizontal"   label-class="col-sm-3" input-col-class="col-sm-6"}}

        {{> afQuickField name='type' id='type' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}

        {{> afQuickField name='brand' id='brand' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}

        {{> afQuickField name='model' id='model' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}

        {{> afQuickField name='color' id='color' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}

        {{> afQuickField name='datePriced' id='datePriced' template="bootstrap3-horizontal" type='date' label-class="col-sm-3" input-col-class="col-sm-6"}}

        {{> afQuickField name='dateSold' id='dateSold' template="bootstrap3-horizontal"  type='date' label-class="col-sm-3" input-col-class="col-sm-6"}}

        <button type="submit" class="btn btn-primary">Add New Bike</button>
    {{/autoForm}}
</template>

