<template name="bikesList">
    <div class="btn-toolbar" role="toolbar">

        {{#if pages.show}}
            <div class="btn-group" role="group" style="float:left" aria-label="...">
                <button type="button" class="enabled previous btn btn-default"><span aria-hidden="true">&larr;</span>Newer</button>
                <button type="button" class="btn btn-default">Page {{pages.current}} / {{pages.total}}</button>
                <button type="button" class="enabled next btn btn-default">Older<span aria-hidden="true">&rarr;</span></button>
            </div>
        {{/if}}

        <div class="btn-group" role="group" style="float:right">
            <button class="btn btn-lg btn-primary new"  style="float:left">
                <span class="glyphicon glyphicon-plus"></span>
                New Bike
            </button>
        </div>
    </div>

    <table class="table table-condensed table-hover">
        <thead>
        <tr>

            <th class="col-lg-2 form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" style="width:50%" placeholder="Find ID" id="tagIDåFilter" /><br/>
                    Tag ID

                </div>
            </th>

            <th>Description</th>
            <th>Type</th>
            <th>Date added</th>
            <th>Date priced</th>
            <th>Status</th>
            <th>Owner</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {{#each bikes}}
            <tr data-id="{{_id}}">
                <td>{{tagId}}</td>
                <td>{{color}} {{brand}} {{model}}</td>
                <td>{{type}}</td>
                <td>{{formatDate dateAdded}}</td>
                <td>{{datePriced}}</td>
                <td>{{bikeStatusLabel status}}</td>
                <td>{{#unless ../hide.name}}<td>{{owner.firstName}} {{owner.lastName}}</td>{{/unless}}</td>
                <td><button class='delete btn btn-link btn-alert'>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>