<template name="bikesAdminList">
    <div class="row">
        <div class="col-lg-7">
            <h1><span style="margin-right:2px;" class="fa fa-bicycle" aria-hidden="true"></span>Bikes</h1>
            <div>Listing {{getPublishedCount 'bikeListCount'}} records.</div>
        </div>

    </div>
    {{> bikesList}}
</template>