<template name="login">
    
    <div class="container-fluid">
        <div class="row">
          <!--{{> loginButtons}}-->
            <div class="well  col-md-6 col-md-offset-3">
                <h1>Broke Spoke <br/>Shop Management</h1>
                <form>
                    <div class="form-group">
                        <input type="email" id="login-email" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                         <input type="password" id="login-password" placeholder="Password" class="form-control">
                    </div>
                   
                    <input type="submit" value="Login" class="btn btn-lg btn-primary">
                </form>
            </div>

        </div>
    </div>
    
</template>