<template name="signInLayout">
    <header>
        {{> signInTopbar }}
    </header>
    <div class="container-fluid">
        <div class="row-fluid">
                {{> yield}}
        </div><!-- end .row -->
    </div><!-- end .container-fluid -->
    {{> bootstrapModal}}
</template>


