<template name="newUserModal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{title}}</h4>
                </div>
            <form id="addUser">
                <div class="modal-body">
                    
                    <div class="form-group">
                       <label>Username:</label> <input type="text" name="username" />
                       <label>Email:</label> <input type="email" name="email" />
                    </div>
                   
                    <div class="form-group">
                       <label>Password: </label>
                       <input type="password" name="password" />
                    </div>
                   
                    <div class="form-group">
                       <label>Confirm password: </label>
                       <input name="passwordConfirm" type="password"  />
                   </div>
                   
                    <div class="form-group">
                       <label>Role:</label>
                       <select class="form-control">
                           <option value="app-admin">App Admin</option>
                           <option value="shop-admin">Shop Admin</option>
                           <option value="kiosk">Kiosk</option>
                       </select>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default cancel" data-dismiss="adminModal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create New User</button>
                </div>
            </form>
</template>
