<template name="usersList">
    <h1>Broke Spoke Shop Manager Users</h1>

     <div><a href="#" class="btn new">New User</a></div>
     <table class="table table-responsive">
        <thead>
            <tr>
                <th>E-Mail</th>
                <th>Roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
              <tr data-id="{{_id}}">
                  <td>{{#each emails}}
                     {{this.address}}
                      {{/each}}</td>
                  <td><ul>
                      {{#each roles.__global_roles__}}
                     <li>{{this}}</li>
                      {{/each}}
                  </ul>
                  </td>
                  <td><button class='delete btn btn-link btn-alert'>Delete</button></td>
              </tr>
            {{/each}}
        </tbody>
    </table>
       {{> adminModal}}
</template>
