<template name="adminModal">
    <div id="adminModal" class="modal fade {{class}}" data-recordId="{{content._id}}">
        <div class="modal-dialog">
            <div class="modal-content">
                 {{#if template}}
                     {{> UI.dynamic template=template data=content}}
                 {{else}}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{content.title}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{content.message}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default cancel" data-dismiss="adminModal">Cancel</button>
                    <button type="button" class="btn btn-danger confirm">Confirm delete</button>
                </div>
               {{/if}}
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>