<template name="transactionsList">

    <div class="btn-toolbar" role="toolbar">
        {{#if pages.show}}
            <div class="btn-group" role="group" style="float:left" aria-label="...">
                <button type="button" class="enabled previous btn btn-default"><span aria-hidden="true">&larr;</span>Newer</button>
                <button type="button" class="btn btn-default">Page {{pages.current}} / {{pages.total}}</button>
                <button type="button" class="enabled next btn btn-default">Older<span aria-hidden="true">&rarr;</span></button>
            </div>
        {{/if}}

        <div class="btn-group" role="group" style="float:right">
            <button class="btn btn-lg btn-primary new"  style="float:left">
                <span class="glyphicon glyphicon-plus"></span>
                New Transaction
            </button>
        </div>
    </div>

    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>Date</th>
            {{#unless hide.name}}
            <th>Name</th>
            {{/unless}}
            <th>Transaction Type</th>
            <th>Amount</th>
            <th>Payment</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each transactions}}
            <tr data-id="{{_id}}">
                <td>{{formatTime date}}</td>
                {{#unless ../hide.name}}<td>{{person.firstName}} {{person.lastName}}</td>{{/unless}}
                <td>{{transactionLabel transactionType}}</td>
                <td>{{amount}}</td>
                <td>{{paymentType}}</td>
                <td>{{#if timelogId}}<span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{/if}}</td>
                <td><button class='delete btn btn-link btn-alert'>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button></td>
            </tr>
        {{/each}}
        </tbody>
    </table>

</template>