<template name="transactionsAdminList">
    <div class="row">
        <div class="col-lg-7">
            <h1><span class="glyphicon glyphicon-tint" aria-hidden="true"></span>Transactions</h1>
            <div>Listing {{getPublishedCount 'transactionsListCount'}} transactions.</div>
        </div>
    </div>
 
 {{> transactionsList routeRoot='transactionsAdmin'}}

</template>