<template name="transactionsAdminNew">
    <h1>New Transaction</h1>
    <p></p>
    {{#autoForm collection="Transactions" id="insertTransactionsForm" class="form-horizontal" type="insert"}}
            <div class="form-group person">
        <label class="col-sm-3 control-label">Person:</label>
        <div class="col-sm-6">
            {{> inputAutocomplete settings=settings id="personAutocomplete" class="form-control" placeholder="Search by last name..."}}
            <span class="selectedPerson" style="display:none">
                 <p class="form-control-static">
                                  <span class="name">
                                    {{this.transaction.person.firstName}} {{this.transaction.person.lastName}}
                                  </span>
                     <button class='delete btn btn-link btn-alert clear'>
                         <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                     </button>
                 </p>
          </span>
          <span class="help-block"></span>
        </div>
  </div>
        {{> afFieldInput name='personId' type="hidden"}}
        {{> afQuickField name='transactionType' id="transactionType" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
        {{> afQuickField name='amount' template="bootstrap3-horizontal" type='number' label-class="col-sm-3" input-col-class="col-sm-6"}}
        {{> afQuickField name='paymentType' id="paymentType" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
        {{> afQuickField name='paymentStatus' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6" value='complete'}}
        {{> afQuickField name='date' template="bootstrap3-horizontal" value=now  type="datetime-local" label-class="col-sm-3" input-col-class="col-sm-6"}}
        <button type="submit" class="btn btn-primary">Create New Transaction</button>
    {{/autoForm}}
</template>