<template name="transactionsAdminEdit">

    <h1>Edit {{this.transaction.person.firstName}} {{this.transaction.person.lastName}}'s {{transactionLabel this.transaction.transactionType}}</h1>
    <p></p>
    {{#autoForm collection="Transactions" id="updateTransactionsForm" class="form-horizontal" type="update" doc=this.transaction}}
               <div class="form-group person">
        <label class="col-sm-3 control-label">Person:</label>
        <div class="col-sm-6">
            {{> inputAutocomplete style="display:none" settings=settings id="personAutocomplete" class="form-control" placeholder="Search by last name..."}}
          <span class="selectedPerson" >
             <p class="form-control-static">
                  <span class="name">
                    {{this.transaction.person.firstName}} {{this.transaction.person.lastName}}
                  </span>
                 <button class='delete btn btn-link btn-alert clear'>
                     <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                 </button>
             </p>
          </span>
          <span class="help-block"></span>
        </div>
  </div>
                {{> afFieldInput name='personId' type="hidden"}}
        {{> afQuickField name='transactionType' id="transactionType" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
        {{> afQuickField name='amount' template="bootstrap3-horizontal" type='number' label-class="col-sm-3" input-col-class="col-sm-6"}}
        {{> afQuickField name='paymentType' id="paymentType" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
        {{> afQuickField name='paymentStatus' id="paymentStatus" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6" value='complete'}}
        {{> afQuickField name='date' template="bootstrap3-horizontal"   type="datetime-local" label-class="col-sm-3" input-col-class="col-sm-6"}}
        <button type="submit" class="btn btn-primary">Save Transaction</button>

    {{/autoForm}}
</template>